
body {
    background:linear-gradient( to right, #A9F1DF ,#FFBBBB);
  }
.title{
    color: #1e425a;
}

.label{ 
    font-size: 18px;    
}

.field{
    background-color: #b9adad;
}

.product-Item-section{
    height: 820px;
    & .cardbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        max-width: 20rem;   
        border-radius: 20px;
    
        & .card-img-top{
            border-radius: 20px;
        }
    }
}

.products-item{
    background-color: white;
}


.dropdown-menu{
    position: absolute !important; 
    margin-left: -90px;
}